%tr
  %td.nowrap.align-middle{style: "width: 40px"}
    = image_tag comment.gravatar_url, width: 40, style: 'border-radius: 20px'
  %td.nowrap
    = comment.full_name
    %small= comment.email
  %td
    %em.text-muted{style: "white-space: pre-wrap"}= comment.body
    %small=l comment.created_at, format: :short
  %td.nowrap
    = comment.commentable.materialized_path
    %small= comment.locale
  %td.text-right.nowrap
    - unless comment.approved?
      = link_to 'Approve', spina.approve_comments_admin_comment_path(comment), class: 'button button-primary button-mini', data: {method: :post, confirm: "Are you sure?"}

    = link_to spina.edit_comments_admin_comment_path(comment), class: 'button button-default button-mini icon-only' do
      = icon('pencil')

    = link_to spina.comments_admin_comment_path(comment), class: 'button button-danger button-mini icon-only', data: {method: :delete, confirm: t('spina.delete_confirmation', subject: "comment ##{comment.id}")} do
      = icon('trash')